<!DOCTYPE html>
<html lang="en">

<head>

        <title>Add New Blog</title>
        <%- include('./partials/head.ejs') %>

</head>

<body style="background-color: black;">
<%- include('./partials/nav.ejs') %>
<div style="color: white;">
</div>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>