<!DOCTYPE html>
<html lang="en">

<head>

        <title>Signup</title>
        <%- include('./partials/head.ejs') %>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <style>
            body {
                background-color: #fff;
                color: #000;
                font-family: 'Roboto', sans-serif;
            }
            .form-container {
                max-width: 400px;
                margin: 50px auto;
                padding: 35px;
                background-color: #fff;
                border-radius: 12px;
                border: 1px solid #ddd;
            }
            .form-control {
                background-color: #fff;
                color: #000;
                border: 1px solid #ccc;
            }
            .btn-custom {
                background-color: #000;
                color: #fff;
                border: none;
            }
            .btn-custom:hover {
                background-color: #170f0f;
                color: white;
                transition: .2s;
            }

            .container{
                height: 600px;
                align-content: center;
            }

            label { 
                color: black;
            }
            h2 {
                margin-top: -5px;
            margin-bottom: 20px;
        }
        </style>

        
</head>

<body style="background-color: black;">
<%- include('./partials/nav.ejs') %>
    
<div class="container">
    <div class="form-container">
        <h2 class="text-center" style="color: #000;">Signup</h2>
        <form action="/user/signup" method="POST">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" name="fullName" class="form-control" id="fullName" placeholder="Enter full name" required>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-custom btn-block">Sign Up</button>
        </form>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <%- include('./partials/scripts.ejs') %>
</body>

</html>